@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

.App {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  display: flex;
  flex-direction: column;
  margin-left: 200px;
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  color: white;
  padding: 20px;
}

header {
  background-color: grey;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}


@media (max-width: 600px) {

  .App {
    margin-left: 0px;
  }

  .movie-card {
    width: 100%;
  }

  .search-bar {
    flex-direction: column;
    gap: 10px;
  }

  .search-bar form {
    flex-direction: column;
  }
}



footer {
  height: 40px;
  width: 100%;
  background-color: grey;
}

.load-btn {
  height: 80px;
  width: 200px;
  margin: 30px;
}
