.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 150px;
    height: 100vh;
    background-color: khaki;
    color: black;
    z-index: 2;
}

.sidebar ul{
    list-style: none;
}

.active {
    color: white;
}

@media (max-width: 600px){
    .sidebar {
        display: none;
    }
}