.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 200px;
    height: 100vh;
    background-color: rgb(70, 144, 213);
    color: black;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sidebar ul{
    list-style: none;
    display: flex;
    flex-direction: column;
}

.sidebar li{
    outline: 2px solid black;
    margin: 20px;
    padding: 5px;
}

.active {
    color: white;
    background-color: black;
}

@media (max-width: 600px){
    .sidebar {
        display: none;
    }
}